<style>
p {
    margin: 0px;
}
div.a {
    text-indent: 40px;
}
div.b {
    text-indent: 25px;
}
div.columns {
	column-count: 2;
	column-width: 100px;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
#color-table tr:nth-child(even) {
  background-color: #6face8;
  text-align: left;
}
#color-table tr:nth-child(odd) {
 background-color: #bdbcbc;
 text-align: left;
}
#color-table th {
  background-color: #1e2c57;
  color: white;
  text-align: center;
}
</style>

<p style="color:#1e2c57; font-size:160%"><b>Programming languages</b></p>

<p>&nbsp;</p>

<div class="columns">
	<div class="a">
		<p><img src="assets/res/programming-languages/bash.png" align="left" class= "image-margin" height="40" width="40" title="Shell Script"> <progress max="100" value="75"></progress></p><br />
	</div>

	<div class="a">
		<p><img src="assets/res/programming-languages/python.png" align="left" class= "image-margin" height="40" width="40" title="Python"> <progress max="100" value="75"></progress></p><br />
	</div>

	<div class="a">
		<p><img src="assets/res/programming-languages/R.png" align="left" class= "image-margin" height="40" width="40" title="R programming"> <progress max="100" value="75"></progress></p><br />
	</div>

	<div class="a">
		<p><img src="assets/res/programming-languages/mysql.png" align="left" class= "image-margin" height="40" width="40" title="SQL"> <progress max="100" value="50"></progress></p><br />
	</div>

	<div class="a">
		<p><img src="assets/res/programming-languages/latex.png" align="left" class= "image-margin" height="40" width="40" title="Latex"> <progress max="100" value="50"></progress></p><br />
	</div>

	<div class="a">
		<p><img src="assets/res/programming-languages/xml.png" align="left" class= "image-margin" height="40" width="40" title="XML"> <progress max="100" value="35"></progress></p><br />
	</div>

	<div class="a">
		<p><img src="assets/res/programming-languages/html.png" align="left" class= "image-margin" height="40" width="40" title="HTML"> <progress max="100" value="35"></progress></p><br />
	</div>

	<div class="a">
		<p><img src="assets/res/programming-languages/css.png" align="left" class= "image-margin" height="40" width="40" title="CSS"> <progress max="100" value="35"></progress></p><br />
	</div>
</div>

<p>&nbsp;</p>

<p style="color:#1e2c57; font-size:160%"><b>Software</b></p>

<p>&nbsp;</p>

<table id="color-table">
  <tr>
  	<th>Bioinformatics</th>
    <th>System Administration</th> 
    <th>Coding & Organization</th>
  </tr>
  <tr>
    <td>BLAST</td>
    <td>MySQL & MongoDB</td>
    <td>R-Studio</td>
  </tr>
  <tr>
  	<td>Entrez/Eutils</td>
    <td>VirtualBox/Proxmox</td>
    <td>Sublime/PyCharm/Spider</td>
  </tr>
  <tr>
  	<td>Slurm & gwf</td>
  	<td>Nagios & Cacti</td>
  	<td>Jira & Confluence</td>
  </tr>
  <tr>
  	<td>R-markdown</td>
    <td>Pacemaker & Corosync</td>
    <td>Github/Gitlab/Bitbucket</td>
  </tr>
</table>

<p>&nbsp;</p>

<p style="color:#1e2c57; font-size:160%"><b>Agile Framework</b></p>

<p>&nbsp;</p>

<div class="b">
    <p style="color:#4183c4; display:inline; font-size:120%"><b>Scrum</b></p>
</div>
<div class="b">
    <p style="color:#4183c4; display:inline; font-size:120%"><b>Sprints</b></p>
</div>
<div class="b">
    <p style="color:#4183c4; display:inline; font-size:120%"><b>Kanban</b></p>
</div>