progress {
  border: none;
  width: 250px;
  height: 60px;
  position: relative;
  padding: 10px;
}

progress {
  color: #4183c4;
}

progress::-webkit-progress-value {
  background: #4183c4;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-bar {
  background: #1e2c57;
}
