progress {
  border: none;
  width: 250px;
  height: 35px;
  position: relative;
  padding: 10px;
}

progress {
  color: #1e2c57;
}

progress::-webkit-progress-value {
  background: #1e2c57;
}

progress::-moz-progress-bar {
  background: #6face8;
}

progress::-webkit-progress-bar {
  background: #6face8;
}

.image-margin { 
	margin-left: 40px; 
} 